<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>welcome to blockchain</title>
  </head>
  <body>
    <h1> welcome to blockpain, nerds</h1>
    <a href="/transaction/new"> new transaction</a> <br><br>

    <h3>Pending transactions:</h3>
      <% @blockchain.transactions.each do |transaction| %>
        <%= transaction %>   <br>
      <%end%>

    ________________________________________<br><br>


    <% @chain.each do |block| %>
      Index: <br>
      <%= block.index %>   <br>
      Previous Hash: <br>
      <%= block.previous_hash unless block.index == 1 %> <br>
      Timestamp: <br>
      <%= block.timestamps %>   <br>
      Transaction: <br>
      <%= block.transaction unless block.index == 1 %>   <br>
      Nonce: <br>
      <%= block.nonce %>   <br>
      Hash: <br>
      <%= block.hash %>  <br><br>
      ******* END OF BLOCK ******* <br><br><br>
    <%end%>

  </body>
</html>
